@import "@/app/styles/mixins";

.game {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.leftContainer {
  width: varSize(250);
}

.middleContainer {
  width: varSize(672);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  height: 40%;
  text-align: center;
  opacity: 0.5;
  margin-top: varSize(-15);
  margin-bottom: varSize(35);

  &__h1 {
    font-weight: 800;
    font-size: varSize(72);
  }

  &__h2 {
    opacity: 0.4;
    font-weight: normal;
    font-size: varSize(36);
  }
}

.rightContainer {
  width: varSize(300);
  height: 100%;
  max-height: varSize(594);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.chatboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.howToPlay {
  margin-top: varSize(35);
  width: varSize(1000);
  opacity: 0.5;

  &__head {
    font-weight: bold;
    font-size: varSize(30);
    margin-bottom: varSize(20);
  }

  &__text {
    font-size: varSize(18);
    margin-bottom: varSize(10);
  }
}
