@import "@/app/styles/mixins";

.game {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  width: varSize(250);
}

.middleContainer {
  width: varSize(472);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rightContainer {
  width: varSize(300);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
}

.wordBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow-y: clip;
  max-height: varSize(233);
  width: 100%;
}

.howToPlay {
  margin-top: varSize(50);
  width: varSize(768);
  color: #aaa;

  &__head {
    font-weight: bold;
    font-size: varSize(30);
    margin-bottom: varSize(20);
  }

  &__text {
    font-size: varSize(18);
    margin-bottom: varSize(10);
  }
}
