@import "@/app/styles/mixins";

.block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: varSize(12);
  padding-bottom: varSize(2);
  width: 100%;
}

.user {
  font-weight: bold;
  margin-right: varSize(10);
  align-self: center;
  width: varSize(170);
}

.word {
  display: flex;
  align-items: center;
  min-width: varSize(45);
}

.scoreBonus {
  position: absolute;
  left: varSize(-50);
  font-size: varSize(30);
  font-weight: bold;
  color: forestgreen;
  opacity: 0;
}
