@import "@/app/styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: varSize(40) varSize(50);
  background-color: #18181b;
  color: #eeeeee;
  min-height: 100vh;
}

.link {
  margin-top: varSize(30);
  text-decoration: underline;
}
