@import "@/app/styles/mixins";

.entryContainer {
  margin-top: varSize(20);
  font-size: varSize(30);
  display: flex;
  justify-content: space-between;

  input {
    margin-right: varSize(15);
    font-size: varSize(30);
    padding: varSize(5);
    width: varSize(200);
  }

  button {
    font-size: varSize(30);
    cursor: pointer;
    padding: varSize(5);
  }
}
